@{
    ViewData["Title"] = "Página de ferias";
}

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css"
          rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js">
    </script>
</head>

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="AcessoUsuario" asp-action="Index">Personal Dynamic RH & DP</a> <!--Nome do cabeçalho-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="AcessoUsuario" asp-action="Inicio">Início</a> <!--Referente a página de inicio-->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="AcessoUsuario" asp-action="Salario">Salário</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="AcessoUsuario" asp-action="FolhaPag"> folha de Pagamento</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="AcessoUsuario" asp-action="Holerite">Holerite</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Faltas" asp-action="Falta">Faltas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Ferias" asp-action="Ferias">Férias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" tabindex="-1" aria-disabled="true" asp-controller="Home" asp-action="Index">Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="alert alert-success" role="alert">
    <strong>Férias disponivel!</strong> Solicite um agendamento!
</div>
<h1 class="display-5"> Informações de férias</h1>
<br />

<fieldset class="form-group">
    <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Período de Férias</legend>
        <div class="col-sm-10">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="opcao1" checked>
                <label class="form-check-label" for="gridRadios1">
                    1 período
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="opcao2">
                <label class="form-check-label" for="gridRadios2">
                    2 períodos
                </label>
            </div>
            <div class="form-check disabled">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="opcao3" checked>
                <label class="form-check-label" for="gridRadios3">
                    3 períodos
                </label>
            </div>
        </div>
    </div>
</fieldset>


<label class="form-control-label">Data inicio</label>
<input type="text" class="date form-control" style="width: 200px" />
<script type="text/javascript">
    $(".date").datepicker({
        format: "dd-mm-yyyy",
    });
</script>

<label class="form-control-label">Data final</label>
<input type="text" class="date form-control" style="width: 200px" />
<script type="text/javascript">
    $(".date").datepicker({
        format: "dd-mm-yyyy",
    });
</script>
<br />
    <div class="align-items-center">
    <button type="submit" class="btn btn-primary">Agendar</button>
    </div>


                        <!--Aqui vou adicionar o status das férias e as opções para agendar e venda delas-->